.container {
    margin-bottom: 4rem;
    color: var(--text-info);
}

.banner {
    img {
        width: 100%;
        object-fit: cover;
    }
}

.postContent {
    max-width: 1120px;
    margin: 0 auto;
    color: var(--text-info);

    h1 {
        font-size: 3rem;
        font-weight: 700;
        line-height: 3.625rem;
        margin-top: 20px;
    }

    .postInfo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 1.5rem;

        time {
            display: flex;
            align-items: center;
            font-size: 14px;
            color: var(--info);
            margin-right: 1.5rem;

            svg {
                height: 20px;
                width: 20px;
                margin-right: 0.5rem;
            }
        }

        p {
            display: flex;
            align-items: center;
            font-size: 14px;
            color: var(--info);
            margin-right: 1.5rem;

            svg {
                height: 20px;
                width: 20px;
                margin-right: 0.5rem;
            }
        }
    }

    section {
        margin-top: 3rem;

        h2 {
        font-size: 2.25rem;
        font-weight: 700;
        line-height: 3.125rem;
        }

        article {
        font-size: 1.125rem;
        line-height: 1.5rem;
        color: var(--text-body);
        }
    }
}

.navigationPosts {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    padding: 50px 0;
    border-top: 1px solid #808080;
    display: flex;
    justify-content: space-between;

    div {
        cursor: pointer;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        strong {
            color: var(--highlight);
        }

        &:hover {
            h2 {
                filter: brightness(0.8);
            }

            strong {
                filter: brightness(0.8);
            }
        }
    }
}