.container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;

    color: var(--heading);
}

.loading {
    color: var(--highlight);
}

.content {
    height: 100%;
    max-width: 75vw;
    white-space: normal;
    border: 1px solid white;   
}